    RewriteEngine On
    RewriteRule ^$           main  [QSA]
    RewriteRule ^index\.php$ wiki.php  [QSA]
    RewriteCond %{REQUEST_URI} !^/includes/site.css
    RewriteRule ^([^\d]+)/?$ wiki.php?page=$1 [QSA]
